.Create1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 24;
    border-radius: 10px;
    background: #333;
    .map{
        // position: absolute;
        width: 450px;
        height: 250px;
        // background: #333;
        border-radius: 10px;
        border: 1px solid #dfdedf;
    }

}